@import "vairable";
.text-bold {
    font-weight: 700;
}

::-moz-selection {
    /* Code for Firefox */
    background-color: rgba(24, 191, 255, 0.1) !important;
    color: map-get($colors, gray-100) !important;
}

::selection {
    background-color: rgba(24, 191, 255, 0.1) !important;
    color: map-get($colors, gray-100) !important;
}
