@import "../abstracts/vairable";

.ant-checkbox {
    .ant-checkbox-inner {
        border-color: map-get($colors, gray-80);
    }

    &.ant-checkbox-indeterminate .ant-checkbox-inner {
        background-color: map-get($colors, blue-100);
        border-color: map-get($colors, blue-100);

        &::after {
            width: 8px;
            height: 2px;
            background-color: white;
        }
    }
}
