.ant-pagination-item,
.ant-pagination-item-link {
    border: none !important;
    font-weight: 700 !important;
}

.ant-pagination-item-active {
    border: #0029ff 1px solid !important;
    background-color: #e3e7f9 !important;
}
